<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdde88e4-3ef6-4b7c-a4be-72bd606af5e1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-08-15T07:01:40</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "71ea4bb9-d717-48c2-bfd4-ec27334d3d45",
      "key": "22c02bda-ab7a-460c-bf47-28a3356c1d96",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EYo!\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "2b55aa06-1c62-488f-aa80-cfb7af4c49f3",
      "key": "ef465ebe-0d0e-4db0-81b1-ff9079be5b85",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "71ea4bb9-d717-48c2-bfd4-ec27334d3d45",
      "key": "5fe22bca-b13a-4ed6-bf40-7cfc969264a3",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHej\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "71ea4bb9-d717-48c2-bfd4-ec27334d3d45",
      "key": "0e5e958c-ddda-447d-9705-da39325c0a4c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWOW\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e6c9a83d-b258-4227-88d6-ca3f4d2c961b",
      "key": "448840e6-82a5-43ec-b2b6-c5b0fe2ab929",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "22c02bda-ab7a-460c-bf47-28a3356c1d96",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ef465ebe-0d0e-4db0-81b1-ff9079be5b85",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5fe22bca-b13a-4ed6-bf40-7cfc969264a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0e5e958c-ddda-447d-9705-da39325c0a4c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "448840e6-82a5-43ec-b2b6-c5b0fe2ab929",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "22c02bda-ab7a-460c-bf47-28a3356c1d96",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "5fe22bca-b13a-4ed6-bf40-7cfc969264a3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "bd417004-fab9-409d-ac75-1d593ce342f0"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "0e5e958c-ddda-447d-9705-da39325c0a4c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "30a30d9b-6ba3-46c1-b60c-54cc260c4bab"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ef465ebe-0d0e-4db0-81b1-ff9079be5b85",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "8aaca88a-2c51-432b-afc0-655e76b4d873"
          },
          {
            "items": [],
            "key": "2e145d18-34c9-49ea-ab26-ea07fc257a56"
          },
          {
            "items": [],
            "key": "1d9564d9-7669-49ec-ac50-7e2ae3d12c97"
          }
        ],
        "columnSpan": 12,
        "contentKey": "448840e6-82a5-43ec-b2b6-c5b0fe2ab929",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>