<?xml version="1.0" encoding="utf-8"?>
<Content Key="e262f138-420f-4c3e-b19d-ab649bbff3ce" Alias="Page" Level="2">
  <Info>
    <Parent Key="fdde88e4-3ef6-4b7c-a4be-72bd606af5e1">Home</Parent>
    <Path>/Home/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-08-15T13:02:34</CreateDate>
    <NodeName Default="Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "989014ce-3d83-4d9e-8913-153f20f0e9b6",
      "key": "4a765436-3473-4d13-893e-45844ace6905",
      "udi": null,
      "values": [
        {
          "alias": "secret",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "crops": null,
            "focalPoint": null,
            "src": "/media/ujohgvkz/logo.png"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1ae9ac38-fe73-4217-ad9c-1e04625177ab",
      "key": "43b886d7-a899-4cd3-a854-667050c25b86",
      "udi": null,
      "values": [
        {
          "alias": "code",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4a765436-3473-4d13-893e-45844ace6905",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "43b886d7-a899-4cd3-a854-667050c25b86",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "4a765436-3473-4d13-893e-45844ace6905",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "43b886d7-a899-4cd3-a854-667050c25b86",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>