<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11bdebf9-b01b-463d-aea6-103b6a2f5c7f" Alias="Default Grid Content" Level="2">
  <Info>
    <Name>Default Grid Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>umbraco.blockgrid</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Blocks",
      "key": "a21e3150-9c29-4a4c-9ac8-563690a8904a"
    },
    {
      "name": "Layouts",
      "key": "f550ed1b-87f1-46f9-8a76-12308de1f63b"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "1ae9ac38-fe73-4217-ad9c-1e04625177ab",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "a21e3150-9c29-4a4c-9ac8-563690a8904a"
    },
    {
      "contentElementTypeKey": "71ea4bb9-d717-48c2-bfd4-ec27334d3d45",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "a21e3150-9c29-4a4c-9ac8-563690a8904a"
    },
    {
      "contentElementTypeKey": "989014ce-3d83-4d9e-8913-153f20f0e9b6",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "a21e3150-9c29-4a4c-9ac8-563690a8904a"
    },
    {
      "contentElementTypeKey": "2b55aa06-1c62-488f-aa80-cfb7af4c49f3",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "f550ed1b-87f1-46f9-8a76-12308de1f63b",
      "areas": [
        {
          "key": "bd417004-fab9-409d-ac75-1d593ce342f0",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "30a30d9b-6ba3-46c1-b60c-54cc260c4bab",
          "alias": "area1",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "e6c9a83d-b258-4227-88d6-ca3f4d2c961b",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "f550ed1b-87f1-46f9-8a76-12308de1f63b",
      "areas": [
        {
          "key": "8aaca88a-2c51-432b-afc0-655e76b4d873",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "2e145d18-34c9-49ea-ab26-ea07fc257a56",
          "alias": "area1",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "1d9564d9-7669-49ec-ac50-7e2ae3d12c97",
          "alias": "area2",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 18
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>